.delivery-content{
  position: relative;
}
.rowlabel .item .text,.page-product-detail .info-detail .rowlabel .group-text > *,.rowlabel .item{
  overflow: visible;
}
.content-cities{
  display: none;
  width: 20rem;
    border: 1px solid rgba(0,0,0,.09);
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    position: absolute;
    margin-top: 1px;
    top: 100%;
    left: 0;
}
.content-cities.active{
  display: block
}
.city-tab{
  padding: .625rem;
  background: #f5f5f5;
    color: #0a923c;
    cursor: pointer;
}
.content-item,.content-child{
  padding: .625rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content-list{
  max-height: 17.5rem;
  overflow-y: scroll;
}
.item{position: relative;}
.coupons_detail{
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: #fff;
    padding: 1.5rem;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 2px;
    display: none;
    min-width: 350px;
}
.item.coupon.show .coupons_detail{
  display: block
}
.coupon_body{
    padding: 0;
    margin: 10px 0 0;
    max-height: 22.375rem;
    overflow-y: auto;
    width: 100%;
}
.coupon_item{
    padding: 10px 0;
    display: flex;
    border-radius: .125rem;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}
.coupon_image{
  display: flex;
    min-width: .25rem;
    margin-left: 1px;
    height: 3.5rem;
    width: 3.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 30%
}
.coupon_content{
      display: flex;
      position: relative;
      width: 70%
}
.coupon_content span{display: block}
.coupon_content>div{
      -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-self: center;
}
.coupon_content>div>span.hsd{
  flex: 2
}

.coupon_save.disabled{
  pointer-events: none;
  cursor: default;
}
.page-product-detail .info-detail a.disabled{
  background: #ddd;
    border: 0;
    cursor: default;
  
}

.page-product-detail .info-detail a.coupon_save {
  text-decoration: none;
      color: #bfbfbf;
}
.coupons_detail:before{
  content: "";
  position: absolute;
  border: .5rem solid transparent;
    border-bottom-color: rgba(0,0,0,.09);
    top: -1.0625rem;
    z-index: 0;
    left: 50%;
}

.coupons_detail:after{
  content: "";
  position: absolute;
 border: .5rem solid transparent;
    border-bottom-color: #fff;
    top: -.9375rem;
    z-index: 1;
    left: 50%;
}